body {
    background-color: #fae2e9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.navBar {
    float: right;
    width: 100%;
    float: left;
    background-color: #E1C1CD;
    font-family: Arial, sans-serif;
    color:azure;

  }

.button-link{
    display: block;
    padding: 8px;
    background-color: #CB94A8;
    color:azure;

}

.headerBar{
    color: #CB94A8;
    font-family: "Courier New";
    background-color: white;
    width: 100%;
    position: center;
}
