body {
    background-color: #fae2e9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .image{
    opacity: 80%;
}

.navBar {
    width: 100%;
    position: sticky;
    top: 0;
    height: auto;
    float: left;
    background-color: #E1C1CD;
    font-family: Arial, sans-serif;
    color:azure;
    z-index:10;
    
    
  }
  ul{
    list-style-type: none;
    height: auto;
    margin-top:0px;
    
  }
  .navBar li {
    float: right;
  }
  .navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #CB94A8;
    font-family: "Courier New";
    font-size: 25px;
    border-radius: 10px;
    opacity: 50%;
  }
  .navBar li a:hover {
    opacity: 80%;
  }

.mainLogo{
    position: relative;
    font-family: "Roboto Slab";
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color:white;

  }

  .textBar{
    display: block;
    width: 100%;
    color: #CB94A8;
    text-align: center;
    text-decoration: none;
    background-color: white;
    font-family: "Courier New";
    font-size: 50px;
  }

